# サトシ君はポケモンの情報が分からず困っています。
<img src="https://assets.st-note.com/production/uploads/images/11128402/rectangle_large_type_2_cacec6636944782a075c98c90efca608.jpeg?fit=bounds&format=jpeg&quality=45&width=960" width="20%">

## PokemonStatus_Gen8.csvを使って助けてあげましょう。

Q1.キングドラのタイプってなんだっけ？ 
<img src="https://img.yakkun.com/poke/icon960/n230.png" width="20%">

※キングドラはタイプを2つもっています。

A1.

In [1]:
import pandas as pd
df = pd.read_csv('PokemonStatus_Gen8.csv')
df_index_name = df.set_index("ポケモン名" , drop = False)
df_index_name.loc['キングドラ',['タイプ１','タイプ２']]

タイプ１      みず
タイプ２    ドラゴン
Name: キングドラ, dtype: object

Q2."エースバーン"と"ウーラオス(れんげきのかた)"ってどっちが"すばやさ"高いんだっけ？
<table>
<tr>
<td><img src="https://img.gamewith.jp/article/thumbnail/rectangle_l/175815.png" width="50%"></td>
<td><img src="https://img.gamewith.jp/article/thumbnail/rectangle_l/182847.png" width="50%"></td>
</tr>
</table>

A2.

In [2]:
A=df_index_name.loc['エースバーン','すばやさ']
B=df_index_name.loc['ウーラオス(れんげきのかた)','すばやさ']
print('エースバーン: '+ str(A) +', ウーラオス(れんげきのかた): ' + str(B))
df_index_name

エースバーン: 119, ウーラオス(れんげきのかた): 97

,図鑑番号,ポケモン名,タイプ１,タイプ２,通常特性１,通常特性２,夢特性,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
ポケモン名,,,,,,,,,,,,,,
フシギダネ,1,フシギダネ,くさ,どく,しんりょく,NaN,ようりょくそ,45,49,49,65,65,45,318
フシギソウ,2,フシギソウ,くさ,どく,しんりょく,NaN,ようりょくそ,60,62,63,80,80,60,405
フシギバナ,3,フシギバナ,くさ,どく,しんりょく,NaN,ようりょくそ,80,82,83,100,100,80,525
メガフシギバナ,3,メガフシギバナ,くさ,どく,あついしぼう,NaN,NaN,80,100,123,122,120,80,625
ヒトカゲ,4,ヒトカゲ,ほのお,NaN,もうか,NaN,サンパワー,39,52,43,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ブリザポス,896,ブリザポス,こおり,NaN,しろのいななき,NaN,NaN,100,145,130,65,110,30,580
レイスポス,897,レイスポス,ゴースト,NaN,くろのいななき,NaN,NaN,100,65,60,145,80,130,580
バドレックス,898,バドレックス,エスパー,くさ,きんちょうかん,NaN,NaN,100,80,80,80,80,80,500
バドレックス(はくばじょうのすがた),898,バドレックス(はくばじょうのすがた),エスパー,こおり,じんばいったい,NaN,NaN,100,165,150,85,130,50,680
バドレックス(こくばじょうのすがた),898,バドレックス(こくばじょうのすがた),エスパー,ゴースト,じんばいったい,NaN,NaN,100,85,80,165,100,150,680

Q3.カントー地方だけのDataFrame(df_kanto)がほしいな。。。

※カントー地方のポケモンは図鑑番号1～151までです。

A3.

In [3]:
df_kanto=df_index_name[(df_index_name['図鑑番号']<152)&(0<df_index_name['図鑑番号'])]
df_kanto

,図鑑番号,ポケモン名,タイプ１,タイプ２,通常特性１,通常特性２,夢特性,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
ポケモン名,,,,,,,,,,,,,,
フシギダネ,1,フシギダネ,くさ,どく,しんりょく,NaN,ようりょくそ,45,49,49,65,65,45,318
フシギソウ,2,フシギソウ,くさ,どく,しんりょく,NaN,ようりょくそ,60,62,63,80,80,60,405
フシギバナ,3,フシギバナ,くさ,どく,しんりょく,NaN,ようりょくそ,80,82,83,100,100,80,525
メガフシギバナ,3,メガフシギバナ,くさ,どく,あついしぼう,NaN,NaN,80,100,123,122,120,80,625
ヒトカゲ,4,ヒトカゲ,ほのお,NaN,もうか,NaN,サンパワー,39,52,43,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
カイリュー,149,カイリュー,ドラゴン,ひこう,せいしんりょく,NaN,マルチスケイル,91,134,95,100,100,80,600
ミュウツー,150,ミュウツー,エスパー,NaN,プレッシャー,NaN,きんちょうかん,106,110,90,154,90,130,680
メガミュウツーX,150,メガミュウツーX,エスパー,かくとう,ふくつのこころ,NaN,NaN,106,190,100,154,100,130,780
メガミュウツーY,150,メガミュウツーY,エスパー,NaN,ふみん,NaN,NaN,106,150,70,194,120,140,780
ミュウ,151,ミュウ,エスパー,NaN,シンクロ,NaN,NaN,100,100,100,100,100,100,600

Q4.ガブリアスのデータが見たい！
<img src="https://zukan.pokemon.co.jp/zukan-api/up/images/index/e10f25b88cfd78ee822f46d234e4768f.png" width="25%">

A4.

In [4]:
df_index_name[df_index_name['ポケモン名']=='ガブリアス']

,図鑑番号,ポケモン名,タイプ１,タイプ２,通常特性１,通常特性２,夢特性,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
ポケモン名,,,,,,,,,,,,,,
ガブリアス,445,ガブリアス,ドラゴン,じめん,すながくれ,NaN,さめはだ,108,130,95,80,85,102,600

# ここでオーキド博士から通信が…

オーキド博士「速報じゃ！なんとカイオーガのタイプがどうやら **[みず・はがね]** タイプになっているみたいなのじゃ。」

オーキド博士「それだけじゃなく、鳥取砂丘にグラードンが出現したのじゃが、タイプが **[くさ・じめん]** タイプになっているばかりか、**とくせい**が **"エアロック"** になっているみないなのじゃ。他のステータスはグラードンと同じなのじゃが、これはもはや鳥取限定の別のポケモンといえるじゃろうなあ。」

<table>
<tr>
<td><img src="https://zukan.pokemon.co.jp/zukan-api/up/images/index/45d077caac375975f6e77246fd9a72f0.png" width="50%"></td>
<td><img src="https://zukan.pokemon.co.jp/zukan-api/up/images/index/7521d3369da8ddfca9be14fa74cf6c2b.png" width="50%"></td>
</tr>
</table>

Q5.カイオーガのデータをオーキド博士の言うとおりに更新しなきゃ！

A5.

In [5]:
df_5=df_index_name
df_5[df_5['ポケモン名']=='カイオーガ']

,図鑑番号,ポケモン名,タイプ１,タイプ２,通常特性１,通常特性２,夢特性,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
ポケモン名,,,,,,,,,,,,,,
カイオーガ,382,カイオーガ,みず,NaN,あめふらし,NaN,NaN,100,100,90,150,140,90,670

In [6]:
df_5.at["カイオーガ","タイプ２"]='はがね'
df_5[df_5['ポケモン名']=='カイオーガ']

,図鑑番号,ポケモン名,タイプ１,タイプ２,通常特性１,通常特性２,夢特性,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
ポケモン名,,,,,,,,,,,,,,
カイオーガ,382,カイオーガ,みず,はがね,あめふらし,NaN,NaN,100,100,90,150,140,90,670

Q6.鳥取砂丘に出現したグラードンを **"グラードン(トットリのすがた)"** として新しく登録しなきゃ！

※"グラードン(トットリのすがた)"の図鑑番号は2525です。

A6.

In [7]:
df_6=df_index_name
df_2525=df_index_name[df_index_name['ポケモン名']=='グラードン']
df_2525.at['グラードン','図鑑番号']=2525
df_2525.at['グラードン','ポケモン名']='グラードン(トットリのすがた)'
df_2525.at['グラードン','タイプ１']='くさ'
df_2525.at['グラードン','タイプ２']='じめん'
df_2525.at['グラードン','通常特性１']='エアロック'
df_6.loc['グラードン(トットリのすがた)']=df_2525.loc['グラードン',:]
df_6.tail()

,図鑑番号,ポケモン名,タイプ１,タイプ２,通常特性１,通常特性２,夢特性,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
ポケモン名,,,,,,,,,,,,,,
レイスポス,897,レイスポス,ゴースト,NaN,くろのいななき,NaN,NaN,100,65,60,145,80,130,580
バドレックス,898,バドレックス,エスパー,くさ,きんちょうかん,NaN,NaN,100,80,80,80,80,80,500
バドレックス(はくばじょうのすがた),898,バドレックス(はくばじょうのすがた),エスパー,こおり,じんばいったい,NaN,NaN,100,165,150,85,130,50,680
バドレックス(こくばじょうのすがた),898,バドレックス(こくばじょうのすがた),エスパー,ゴースト,じんばいったい,NaN,NaN,100,85,80,165,100,150,680
グラードン(トットリのすがた),2525,グラードン(トットリのすがた),くさ,じめん,エアロック,NaN,NaN,100,150,140,100,90,90,670

# ここでまたオーキド博士から通信だ

オーキド博士「どこかのヤドン愛好家が世界中のヤドンを1ヵ所に集めているみたいなのじゃ。これでは図鑑に載せている意味はないかもしれんのう」

<img src="https://zukan.pokemon.co.jp/zukan-api/up/images/index/f8d806f32ee833db68f00e2c50b136be.png" width="10%">

オーキド博士「コロナウィルスの影響で自粛しすぎたせいか、すべてのポケモンの**すばやさ**が0になってしまった…」

オーキド博士「これでは図鑑に**すばやさ**を表示させておく必要はないな…」

Q7.残念だけど図鑑からヤドンの情報を消しておこう。。。

A7.

In [8]:
df_7=df_index_name
df_7[df_7['ポケモン名']=='ヤドン']

,図鑑番号,ポケモン名,タイプ１,タイプ２,通常特性１,通常特性２,夢特性,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
ポケモン名,,,,,,,,,,,,,,
ヤドン,79,ヤドン,みず,エスパー,どんかん,マイペース,さいせいりょく,90,65,65,40,40,15,315

In [9]:
df_7=df_7.drop("ヤドン")
df_7[df_7['ポケモン名']=='ヤドン']

Empty DataFrame
Columns: [図鑑番号, ポケモン名, タイプ１, タイプ２, 通常特性１, 通常特性２, 夢特性, HP, こうげき, ぼうぎょ, とくこう, とくぼう, すばやさ, 合計]
Index: []

Q8.すべてのポケモンのすばやさを0にしよう

A8.

In [10]:
df_8=df_index_name
df_8['すばやさ']=0
df_8.head()

,図鑑番号,ポケモン名,タイプ１,タイプ２,通常特性１,通常特性２,夢特性,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
ポケモン名,,,,,,,,,,,,,,
フシギダネ,1,フシギダネ,くさ,どく,しんりょく,NaN,ようりょくそ,45,49,49,65,65,0,318
フシギソウ,2,フシギソウ,くさ,どく,しんりょく,NaN,ようりょくそ,60,62,63,80,80,0,405
フシギバナ,3,フシギバナ,くさ,どく,しんりょく,NaN,ようりょくそ,80,82,83,100,100,0,525
メガフシギバナ,3,メガフシギバナ,くさ,どく,あついしぼう,NaN,NaN,80,100,123,122,120,0,625
ヒトカゲ,4,ヒトカゲ,ほのお,NaN,もうか,NaN,サンパワー,39,52,43,60,50,0,309

Q9.図鑑からすばやさの情報を消しておこう

A9.

In [11]:
df_9=df_index_name
df_9.drop(['図鑑番号', '夢特性'], axis=1).head()

,ポケモン名,タイプ１,タイプ２,通常特性１,通常特性２,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
ポケモン名,,,,,,,,,,,,
フシギダネ,フシギダネ,くさ,どく,しんりょく,NaN,45,49,49,65,65,0,318
フシギソウ,フシギソウ,くさ,どく,しんりょく,NaN,60,62,63,80,80,0,405
フシギバナ,フシギバナ,くさ,どく,しんりょく,NaN,80,82,83,100,100,0,525
メガフシギバナ,メガフシギバナ,くさ,どく,あついしぼう,NaN,80,100,123,122,120,0,625
ヒトカゲ,ヒトカゲ,ほのお,NaN,もうか,NaN,39,52,43,60,50,0,309

# 今回の課題【Pandas基本操作編】は以上です！
# お疲れ様でした！