# 前回のおさらい+追加

### 行の削除
- df.drop(行名)
- df.drop(df.index[行番号])

### 列の削除
- df.drop(columns=列名)
- df.drop(columns=df.columns[列番号])

### 行の新規作成
df.loc[新規行名] = [行情報のリスト]

## 行の条件での抽出
- 特定の列が含む情報に一致する行の抽出

df[df[列名] == 文字列]

# 本日の目標
条件分岐・ループを使いこなす
 - if
 - for

# input - 標準入力

In [1]:
input()

464646

'464646'

In [5]:
a = input()
a*2

1

'11'

In [14]:
type(input())

1

str

In [20]:
"A"*2

'AA'

In [6]:
a = int(input())
a * 2

373

746

In [8]:
a,b = int(input()),int(input())
a*b

3
4

12

# if - 条件分岐

if 条件式:
    
    処理1
    
    処理2

-------------------------------------


if 条件式:
    
    処理1
    
    処理2
    
elif 条件式:
    
    処理1
    
    処理2

else 条件式:
    
    処理1
    
    処理2

In [10]:
a = int(input())
if a%3 == 0:
    print("3の倍数だよ！！")
else:
    print("3の倍数じゃないよ！！")

240
3の倍数だよ！！

- 3で割り切れるときは「Fizz」を表示
- 5で割り切れるときは「Buzz」を表示
- 両方で割り切れるときは「FizzBuzz」を表示
- それ以外は「foobar」を表示

|

|

|

|

|

|

|

|

|

|

|

|

|

|

|

|

In [12]:
a = int(input())
if a%15 == 0:
    print("fizzbuzz")
elif a%5 == 0:
    print("buzz")
elif a%3 == 0:
    print("fizz")
else:
    print("foobar")

15
fizz

# for - ループ

forの用途

- 指定した回数ループ
- リスト、オブジェクトの要素数分ループし各要素に対して処理

Hello World!!を10回表示

In [13]:
for _ in range(10):
    
    print("Hello World!!")

Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!

# 10回繰り返したいとき　→　range(10)
range(繰り返したい回数)

In [22]:
x = 1
for _ in range(10):
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9
10

x += 1

xに1加えた値をxに代入

[0,1,2,3,4,5,6,7,8,9,10]

In [14]:
l = [0,1,2,3,4,5,6,7,8,9,10]
for x in [0,1,2,3,4,5,6,7,8,9,10]:
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [15]:
import pandas as pd
df = pd.read_csv("PokemonStatus_Gen8.csv").set_index("ポケモン名" , drop = False)

In [18]:
x=1
pd.DataFrame(df.loc[df.index[x],:]).T

,図鑑番号,ポケモン名,タイプ１,タイプ２,通常特性１,通常特性２,夢特性,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
フシギソウ,2,フシギソウ,くさ,どく,しんりょく,NaN,ようりょくそ,60,62,63,80,80,60,405

In [20]:
for x in [0,1,2,3,4,5,6,7,8,9,10]:
    print(pd.DataFrame(df.loc[df.index[x],:]).T)

      図鑑番号  ポケモン名 タイプ１ タイプ２  通常特性１ 通常特性２     夢特性  HP こうげき ぼうぎょ とくこう とくぼう すばやさ  \
フシギダネ    1  フシギダネ   くさ   どく  しんりょく   NaN  ようりょくそ  45   49   49   65   65   45

        合計
フシギダネ  318
      図鑑番号  ポケモン名 タイプ１ タイプ２  通常特性１ 通常特性２     夢特性  HP こうげき ぼうぎょ とくこう とくぼう すばやさ  \
フシギソウ    2  フシギソウ   くさ   どく  しんりょく   NaN  ようりょくそ  60   62   63   80   80   60

        合計
フシギソウ  405
      図鑑番号  ポケモン名 タイプ１ タイプ２  通常特性１ 通常特性２     夢特性  HP こうげき ぼうぎょ とくこう とくぼう すばやさ  \
フシギバナ    3  フシギバナ   くさ   どく  しんりょく   NaN  ようりょくそ  80   82   83  100  100   80

        合計
フシギバナ  525
        図鑑番号    ポケモン名 タイプ１ タイプ２   通常特性１ 通常特性２  夢特性  HP こうげき ぼうぎょ とくこう とくぼう  \
メガフシギバナ    3  メガフシギバナ   くさ   どく  あついしぼう   NaN  NaN  80  100  123  122  120

        すばやさ   合計
メガフシギバナ   80  625
     図鑑番号 ポケモン名 タイプ１ タイプ２ 通常特性１ 通常特性２    夢特性  HP こうげき ぼうぎょ とくこう とくぼう すばやさ   合計
ヒトカゲ    4  ヒトカゲ  ほのお  NaN   もうか   NaN  サンパワー  39   52   43   60   50   65  309
     図鑑番号 ポケモン名 タイプ１ タイプ２ 通常特性１ 通常特性２    夢特性  HP こうげき ぼうぎょ とくこう とくぼう すばやさ   合計
リザード    5  リザード  ほのお  NaN   もうか   NaN  サンパワー  58   64   58   80   65   80  405
      図鑑番号  ポケモン名 タイプ１ タイプ２ 通常特性１ 通常特性２    夢特性  HP こうげき ぼうぎょ とくこう とくぼう すばやさ  \
リザードン    6  リザードン  ほのお  ひこう   もうか   NaN  サンパワー  78   84   78  109   85  100

        合計
リザードン  534
         図鑑番号     ポケモン名 タイプ１  タイプ２  通常特性１ 通常特性２  夢特性  HP こうげき ぼうぎょ とくこう とくぼう  \
メガリザードンX    6  メガリザードンX  ほのお  ドラゴン  かたいツメ   NaN  NaN  78  130  111  130   85

         すばやさ   合計
メガリザードンX  100  634
         図鑑番号     ポケモン名 タイプ１ タイプ２ 通常特性１ 通常特性２  夢特性  HP こうげき ぼうぎょ とくこう とくぼう  \
メガリザードンY    6  メガリザードンY  ほのお  ひこう   ひでり   NaN  NaN  78  104   78  159  115

         すばやさ   合計
メガリザードンY  100  634
     図鑑番号 ポケモン名 タイプ１ タイプ２  通常特性１ 通常特性２     夢特性  HP こうげき ぼうぎょ とくこう とくぼう すばやさ  \
ゼニガメ    7  ゼニガメ   みず  NaN  げきりゅう   NaN  あめうけざら  44   48   65   50   64   43

       合計
ゼニガメ  314
     図鑑番号 ポケモン名 タイプ１ タイプ２  通常特性１ 通常特性２     夢特性  HP こうげき ぼうぎょ とくこう とくぼう すばやさ  \
カメール    8  カメール   みず  NaN  げきりゅう   NaN  あめうけざら  59   63   80   65   80   58

       合計
カメール  405

In [22]:
pd.DataFrame(df.loc[df.index[0]:df.index[10],:])

,図鑑番号,ポケモン名,タイプ１,タイプ２,通常特性１,通常特性２,夢特性,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
ポケモン名,,,,,,,,,,,,,,
フシギダネ,1,フシギダネ,くさ,どく,しんりょく,NaN,ようりょくそ,45,49,49,65,65,45,318
フシギソウ,2,フシギソウ,くさ,どく,しんりょく,NaN,ようりょくそ,60,62,63,80,80,60,405
フシギバナ,3,フシギバナ,くさ,どく,しんりょく,NaN,ようりょくそ,80,82,83,100,100,80,525
メガフシギバナ,3,メガフシギバナ,くさ,どく,あついしぼう,NaN,NaN,80,100,123,122,120,80,625
ヒトカゲ,4,ヒトカゲ,ほのお,NaN,もうか,NaN,サンパワー,39,52,43,60,50,65,309
リザード,5,リザード,ほのお,NaN,もうか,NaN,サンパワー,58,64,58,80,65,80,405
リザードン,6,リザードン,ほのお,ひこう,もうか,NaN,サンパワー,78,84,78,109,85,100,534
メガリザードンX,6,メガリザードンX,ほのお,ドラゴン,かたいツメ,NaN,NaN,78,130,111,130,85,100,634
メガリザードンY,6,メガリザードンY,ほのお,ひこう,ひでり,NaN,NaN,78,104,78,159,115,100,634
ゼニガメ,7,ゼニガメ,みず,NaN,げきりゅう,NaN,あめうけざら,44,48,65,50,64,43,314
カメール,8,カメール,みず,NaN,げきりゅう,NaN,あめうけざら,59,63,80,65,80,58,405

In [23]:
for x in [0,3,5,17,21,25,46,57,100,101]:
    print(pd.DataFrame(df.loc[df.index[x],:]).T)

      図鑑番号  ポケモン名 タイプ１ タイプ２  通常特性１ 通常特性２     夢特性  HP こうげき ぼうぎょ とくこう とくぼう すばやさ  \
フシギダネ    1  フシギダネ   くさ   どく  しんりょく   NaN  ようりょくそ  45   49   49   65   65   45

        合計
フシギダネ  318
        図鑑番号    ポケモン名 タイプ１ タイプ２   通常特性１ 通常特性２  夢特性  HP こうげき ぼうぎょ とくこう とくぼう  \
メガフシギバナ    3  メガフシギバナ   くさ   どく  あついしぼう   NaN  NaN  80  100  123  122  120

        すばやさ   合計
メガフシギバナ   80  625
     図鑑番号 ポケモン名 タイプ１ タイプ２ 通常特性１ 通常特性２    夢特性  HP こうげき ぼうぎょ とくこう とくぼう すばやさ   合計
リザード    5  リザード  ほのお  NaN   もうか   NaN  サンパワー  58   64   58   80   65   80  405
     図鑑番号 ポケモン名 タイプ１ タイプ２ 通常特性１ 通常特性２  夢特性  HP こうげき ぼうぎょ とくこう とくぼう すばやさ   合計
コクーン   14  コクーン   むし   どく   だっぴ   NaN  NaN  45   25   50   25   25   35  205
     図鑑番号 ポケモン名  タイプ１ タイプ２  通常特性１  通常特性２   夢特性  HP こうげき ぼうぎょ とくこう とくぼう すばやさ  \
ピジョン   17  ピジョン  ノーマル  ひこう  するどいめ  ちどりあし  はとむね  63   60   55   50   50   71

       合計
ピジョン  349
               図鑑番号           ポケモン名 タイプ１  タイプ２   通常特性１ 通常特性２     夢特性  HP こうげき  \
コラッタ(アローラのすがた)   19  コラッタ(アローラのすがた)   あく  ノーマル  くいしんぼう  はりきり  あついしぼう  30   56

               ぼうぎょ とくこう とくぼう すばやさ   合計
コラッタ(アローラのすがた)   35   25   35   72  253
    図鑑番号 ポケモン名   タイプ１ タイプ２    通常特性１    通常特性２      夢特性  HP こうげき ぼうぎょ とくこう とくぼう  \
ピッピ   35   ピッピ  フェアリー  NaN  メロメロボディ  マジックガード  フレンドガード  70   45   48   60   65

    すばやさ   合計
ピッピ   35  323
      図鑑番号  ポケモン名 タイプ１ タイプ２   通常特性１ 通常特性２    夢特性  HP こうげき ぼうぎょ とくこう とくぼう すばやさ  \
クサイハナ   44  クサイハナ   くさ   どく  ようりょくそ   NaN  あくしゅう  60   65   70   85   75   40

        合計
クサイハナ  395
              図鑑番号          ポケモン名  タイプ１ タイプ２ 通常特性１    通常特性２    夢特性  HP こうげき  \
ポニータ(ガラルのすがた)   77  ポニータ(ガラルのすがた)  エスパー  NaN  にげあし  パステルベール  きけんよち  50   85

              ぼうぎょ とくこう とくぼう すばやさ   合計
ポニータ(ガラルのすがた)   55   65   65   90  410
      図鑑番号  ポケモン名 タイプ１ タイプ２ 通常特性１ 通常特性２      夢特性  HP こうげき ぼうぎょ とくこう とくぼう すばやさ  \
ギャロップ   78  ギャロップ  ほのお  NaN  にげあし  もらいび  ほのおのからだ  65  100   70   80   80  105

        合計
ギャロップ  500

In [24]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [25]:
for x in [0,3,5,17,21,25,46,57,100,101]:
    print(x)

0
3
5
17
21
25
46
57
100
101

- 3で割り切れるときは「Fizz」を表示
- 5で割り切れるときは「Buzz」を表示
- 両方で割り切れるときは「FizzBuzz」を表示
- それ以外は「foobar」を表示

↓

0～50までの結果を一気に表示

range(10) = [0,1,2,3,4,5,6,7,8,9]

In [31]:
for a in range(51):
    if a%15 == 0:
        print(a,":fizzbuzz")
    elif a%5 == 0:
        print(a,":buzz")
    elif a%3 == 0:
        print(a,":fizz")
    else:
        print(a,":foobar")

0 :fizzbuzz
1 :foobar
2 :foobar
3 :fizz
4 :foobar
5 :buzz
6 :fizz
7 :foobar
8 :foobar
9 :fizz
10 :buzz
11 :foobar
12 :fizz
13 :foobar
14 :foobar
15 :fizzbuzz
16 :foobar
17 :foobar
18 :fizz
19 :foobar
20 :buzz
21 :fizz
22 :foobar
23 :foobar
24 :fizz
25 :buzz
26 :foobar
27 :fizz
28 :foobar
29 :foobar
30 :fizzbuzz
31 :foobar
32 :foobar
33 :fizz
34 :foobar
35 :buzz
36 :fizz
37 :foobar
38 :foobar
39 :fizz
40 :buzz
41 :foobar
42 :fizz
43 :foobar
44 :foobar
45 :fizzbuzz
46 :foobar
47 :foobar
48 :fizz
49 :foobar
50 :buzz

# 多重ループについて

In [32]:
for x in range(10): #[0,1,2,3,4,5,6,7,8,9]
    for y in range(10): #[0,1,2,3,4,5,6,7,8,9]
        print(x*y)

0
0
0
0
0
0
0
0
0
0
0
1
2
3
4
5
6
7
8
9
0
2
4
6
8
10
12
14
16
18
0
3
6
9
12
15
18
21
24
27
0
4
8
12
16
20
24
28
32
36
0
5
10
15
20
25
30
35
40
45
0
6
12
18
24
30
36
42
48
54
0
7
14
21
28
35
42
49
56
63
0
8
16
24
32
40
48
56
64
72
0
9
18
27
36
45
54
63
72
81

In [34]:
target = "PythonLab"
target[0]

'P'

In [35]:
target[2:5]

'tho'

In [37]:
target[-1]

'b'

In [38]:
targetnum = "20201205"
targetnum[0]

'2'

In [46]:
from datetime import datetime
from datetime import timedelta

start = datetime(2018,9,1)
end = datetime(2018,9,5)

def daterange(_start, _end):
    for n in range((_end - _start).days):
        yield _start + timedelta(n)

for i in daterange(start,end):
    print(i.strftime("%Y%m%d"))

20180901
20180902
20180903
20180904