#### 0~9までの整数のセル

**あいうえお**

## あいうえお

In [10]:
import pandas as pd
import numpy as np

## スカラー

In [11]:
[1]

[1]

# ベクトル
## １行の配列
## １列での配列

In [3]:
a = [1,5]
b = [1,5,6,9]
c = [[1],[2],[3]]

[[1], [2], [3]]

In [4]:
a

[1, 5]

In [6]:
b

[1, 5, 6, 9]

In [5]:
c

[[1], [2], [3]]

## 転置行列、縦と横を入れ替える

In [7]:
d = [
    [1,2,3,4,5],
    [5,6,7,8,9]
    ]
d

[[1, 2, 3, 4, 5], [5, 6, 7, 8, 9]]

In [13]:
a = np.array([
    [1,2,3,4],
    [6,7,8,9],
    [5,4,6,8]
])
a

array([[1, 2, 3, 4],
       [6, 7, 8, 9],
       [5, 4, 6, 8]])

In [15]:
np.shape(a)

(3, 4)

# 転置行列

In [17]:
np.transpose(a)
*転置行列をするときに使用する

array([[1, 6, 5],
       [2, 7, 4],
       [3, 8, 6],
       [4, 9, 8]])

In [20]:
data1 = [['あいうえお', 'かきくけこ', 'さしすせそ'], [5, 10, 15]]
data1

[['あいうえお', 'かきくけこ', 'さしすせそ'], [5, 10, 15]]

In [25]:
c = np.array(data1)
c

array([['あいうえお', 'かきくけこ', 'さしすせそ'],
       ['5', '10', '15']], dtype='<U5')

In [22]:
np.shape(data1)

(2, 3)

In [23]:
np.transpose(data1)

array([['あいうえお', '5'],
       ['かきくけこ', '10'],
       ['さしすせそ', '15']], dtype='<U5')

In [44]:
a = np.array([
    [1,2,3,4],
    [6,7,8,9],
    [5,4,6,8]
])
b = np.transpose(a)
b

array([[1, 6, 5],
       [2, 7, 4],
       [3, 8, 6],
       [4, 9, 8]])

## リスト結合
#### 行と列が異なるので結合不可

In [45]:
a + b

ValueError: operands could not be broadcast together with shapes (3,4) (4,3)

In [42]:
g = np.array([
    [1,2,3],
    [6,7,8],
    [5,4,6],
    [5,6,8]
])
g

array([[1, 2, 3],
       [6, 7, 8],
       [5, 4, 6],
       [5, 6, 8]])

In [46]:
g + b

array([[ 2,  8,  8],
       [ 8, 14, 12],
       [ 8, 12, 12],
       [ 9, 15, 16]])

In [44]:
type(a)

numpy.ndarray

In [45]:
kake = ([
    [1,2,3],
    [6,7,8],
    [5,4,6],
    [5,6,8]
])

### ライブラリを使わないと要素がそのまま×2される

In [46]:
kake*2

[[1, 2, 3],
 [6, 7, 8],
 [5, 4, 6],
 [5, 6, 8],
 [1, 2, 3],
 [6, 7, 8],
 [5, 4, 6],
 [5, 6, 8]]

In [36]:
f = ([
    [-1,-2,-3],
    [6,7,8],
    [-5,-4,-6],
    [5,6,8]
])

[[-1, -2, -3],
 [6, 7, 8],
 [-5, -4, -6],
 [5, 6, 8],
 [-1, -2, -3],
 [6, 7, 8],
 [-5, -4, -6],
 [5, 6, 8]]

##### リスト同時

In [38]:
kake = ([
    [5,2,3],
    [6,7,8],
    [5,4,6],
    [5,6,8]
])
f * kake

TypeError: can't multiply sequence by non-int of type 'list'

In [47]:
h = np.array(f)
h

array([[1, 2, 3],
       [6, 7, 8],
       [5, 4, 6],
       [5, 6, 8]])

#### ライブラリを使うことで掛け算できる

In [49]:
h*h

array([[ 1,  4,  9],
       [36, 49, 64],
       [25, 16, 36],
       [25, 36, 64]])

In [50]:
a*b

ValueError: operands could not be broadcast together with shapes (3,4) (4,3)

## 行列、内側が一緒なら計算可能
##### *逆行列にするには条件が必要、正則であること

In [51]:
np.dot(a,b)

array([[ 30,  80,  63],
       [ 80, 230, 178],
       [ 63, 178, 141]])

In [52]:
f_1 = np.array([
    [1,2,3],
    [6,7,8],
    [5,4,6],
    [5,6,8]
])
np.linalg.inv(f_1)

LinAlgError: Last 2 dimensions of the array must be square

In [54]:
seisoku = np.array([[3, -5],
                  [-1, 2]])
seisoku

array([[ 3, -5],
       [-1,  2]])

In [56]:
np.linalg.inv(seisoku)
*少数になるのが多いから、2.という表現になる

array([[2., 5.],
       [1., 3.]])

In [57]:
f_inv = np.linalg.inv(seisoku)
f_inv

array([[2., 5.],
       [1., 3.]])

In [58]:
np.dot(seisoku, f_inv)

array([[1., 0.],
       [0., 1.]])

#### 単位行列

In [79]:
aaa = [
    [1,0,0,0,0],
    [0,1,0,0,0],
    [0,0,1,0,0],
    [0,0,0,1,0],
    [0,0,0,0,1]
]
aaa

[[1, 0, 0, 0, 0],
 [0, 1, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 0, 1]]

#### 行列式　リニアアルジェブラの中にあるやつと覚えておく

In [55]:
np.linalg.det(seisoku)

1.0000000000000004

In [71]:
list = [1,5,6]
list
list2 = [8.9, -8, 10]
list2

[8.9, -8, 10]

In [72]:
bbb = np.array([
    list,
    [8,9,-4],
    list2
])
bbb

array([[ 1. ,  5. ,  6. ],
       [ 8. ,  9. , -4. ],
       [ 8.9, -8. , 10. ]])

In [73]:
np.linalg.inv(bbb)

array([[-0.04188935,  0.07077856,  0.05344504],
       [ 0.08348982,  0.03134479, -0.03755597],
       [ 0.10407338, -0.03791709,  0.02238914]])

In [74]:
np.linalg.det(bbb)

-1384.6000000000006

In [81]:
x = np.array([[1,1,0,1],
            [0,1,0,1],
            [0,5,1,3],
            [5,6,7,-1]])
x

array([[ 1,  1,  0,  1],
       [ 0,  1,  0,  1],
       [ 0,  5,  1,  3],
       [ 5,  6,  7, -1]])

## pandas

In [59]:
data=pd.read_csv(r'C:\Users\admin\OneDrive\python\recode\pythonLab\test_data\sample.csv')
data

         x         y
0   40.362  137500.0
1   40.686  132500.0
2   38.430   93000.0
3   36.822   96500.0
4   37.002  100500.0
..     ...       ...
95  47.250  250000.0
96  43.722  166500.0
97  42.642  151500.0
98  43.644  173000.0
99  41.850  174500.0

[100 rows x 2 columns]